:root {
  --primary_color: #fff5e8;
  --font: "Playfair Display", serif;
  --width: "395px";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.artikel,
.artikel-img,
.footer-desk {
  display: none;
}
h3 {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 20px;
  margin-top: 10px;
  height: 20px;
  width: 395px;
  display: flex;
  align-items: center;
}

.section-category {
  width: 395px;
  height: 180px;
  display: flex;
  flex-direction: column;
}

/* promo l21.id */
.section-category2 {
  width: 395px;
  height: 250px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.icon-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-category img {
  width: 85px;
  height: 120px;
}

/* .taskbar-upper {
  display: flex;
  justify-content: space-between;
} */

.blok-brand {
  width: 355px;
  margin: auto;
  grid: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px 10px;
  padding-right: 20px;
}

.blok-brand img {
  width: 75px;
}

/* section navbar mobile*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bedge {
  width: 50px;
}

.badge[data-badge="notif"] {
  display: flex;
}

.header {
  width: 100%;
  margin: auto;
}

.border,
.footer-desk,
.artikel {
  display: none;
}

.wrapper {
  width: 355px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.search {
  width: 315px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  border: 2px solid 20%;
  color: rgba(0, 0, 0, 0.02);
  background-color: var(--primary_color);
}

.icon-category {
  display: flex;
  margin: auto;
  gap: 7px;
}

/* section promo mobile */

.section-promo {
  width: 395px;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* bagian iklan mobile*/

.section-iklan {
  display: flex;
  width: 395px;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2px;
  margin-top: 30px;
}

.section-iklan img {
  width: 180px;
  height: 70px;
}

.section2 {
  width: 395px;
  margin: auto;
  height: 210px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* footer mobile */

.taskbar-bottom {
  width: 395px;
  height: 72px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;
  background-color: var(--primary_color);
  border: var(--border);
  margin: auto;
}

.task {
  display: flex;
  width: 100px;
  height: 80px;
  margin: auto;
  text-align: center;
  /* background-color: pink; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task a {
  text-decoration: none;
  color: black;
}

.task a img {
  width: 40px;
  margin: auto;
  /* background-color: blue; */
}

/* TAMPILAN TAMBAH ALAMAT BARU */
nav {
  width: 395px;
  height: 72px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.border {
  width: var(--width);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form_diri {
  width: var(--width);
  padding: 30px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input_form input {
  width: 300px;
  height: 30px;
}

.input_form p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.footer-desk {
  display: block;
}

.badge-label,
.badge,
.logo,
.navigation-items,
.artikel,
.info,
.footer-desk {
  display: none;
}

@media screen and (min-width: 1024px) {
  .badge-label,
  .badge,
  .logo,
  .navigation-items,
  .border,
  .section-promo,
  .section-category,
  .section-iklan,
  .section-category2,
  .blok-brand,
  .section2,
  .artikel {
    display: block;
  }

  .side-item {
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }

  .side-item a {
    text-decoration: none;
    color: black;
  }

  .side-item:hover {
    font-size: 30px;
  }
  /* navbar section */
  .navbar {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    height: 110px;
  }

  .header {
    width: 100%;
    display: flex;
    height: 110px;
    margin: auto;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 40px;
    width: fit-content;
  }

  .logo h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-primary);
  }

  .wrapper {
    flex-grow: 1;
    align-items: center;
    height: fit-content;
  }

  .search {
    width: 100%;
    max-width: 500px;
    height: 45px;
    text-align: center;
  }

  .badges {
    display: flex;
    gap: 50px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
  }

  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge img {
    width: 40px;
    height: 40px;
  }

  .badge a {
    text-decoration: none;
    color: black;
  }

  .navigation-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
    font-weight: 600;
    font-size: 28px;
  }

  .navigation-items li {
    list-style: none;
  }

  .navigation-items li a {
    text-decoration: none;
    color: black;
  }

  .navigation-items li a:hover {
    color: brown;
  }

  .border {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
  }

  /* SECTION PROMO */
  .section-promo {
    width: 1300px;
    margin-top: 80px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-promo img {
    max-width: 1000px;
    height: 400px;
  }

  .section-category {
    width: 1100px;
    height: 400px;
    margin: auto;
    /* background-color: pink; */
  }

  .section-category h3 {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
    width: 1200px;
  }
  .icon-category {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .icon-category img {
    width: 250px;
    height: 350px;
  }

  /* SECTION IKLAN */
  .section-iklan {
    width: 1300px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    gap: 20px;
    display: flex;
  }

  .section-iklan img {
    width: 540px;
    height: 350px;
  }

  .section-category2 {
    width: 1250px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 100px;
    flex-direction: column;
    margin-top: 50px;
    /* background-color: pink; */
  }

  .section-category2 h3 {
    font-weight: 600;
    width: 1200px;
    font-size: 35px;
  }

  .blok-brand {
    width: 1160px;
    height: 550px;
    display: grid;
    grid-template-columns: 30% 30% 33.3%;
    /* gap: 10px 10px; */
    /* margin: 20px; */
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 20px;
  }

  .blok-brand img {
    width: 350px;
    height: 200px;
  }

  .section2 {
    width: 1160px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section2 h3 {
    font-weight: 600;
    width: 1200px;
    font-size: 35px;
    margin: auto;
  }

  .section2 img {
    width: 1000px;
    height: 350px;
  }

  /* FOOTER desktop*/
  footer {
    display: none;
  }

  .footer-desk {
    margin-top: 20px;
    width: 1300px;
    margin: auto;
    height: 285px;
  }

  .footer-desk img {
    width: 1300px;
    height: 285px;
  }
}
