:root {
  --primary_color: #fff5e8;
  --font: "Playfair Display", serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family:var(--font) ;
}

@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  width: 350px;
  height: 30px;
  gap: 10px;
  margin: auto;
  margin-bottom: 10px ;
}

.search {
  width: 315px;
  height: 28px;
  border-radius: 10px;
  border: 2px solid 20%;
  color:rgba(0, 0, 0, 0.02) ;
  background-color: var(--primary_color);
  text-align: center;
}

/* CSS Section-Profile */
.profile{
   max-width: 390px;
   height: 120px;
   background-color: var(--primary_color);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.wrap{
   width: 390px;
   height: 120px;
   padding: 40px;
   display: flex;
   gap: 30px;
   justify-content: center;
   align-items: center;
   /* justify-content: space-between; */
}

.point{
   width: 390px;
   height: 100px;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
   font-weight: 500px;
   line-height: 14px;    
}

.box{
   width: 390px;
   height: 100px;
   display: flex;
   margin: auto;
   gap: 10px;  
   justify-content: space-between;
   align-items: center; 
   font-weight: 400px;
}

.box2{
   width: 130px;
   height: 45px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--scn-color);
   background-color: var(--primary_color);
   gap: 10px;
   font-size: 13px;
}

.box3{
   width: 220px;
   height: 45px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--scn-color);
   background-color: var(--primary_color);
   line-height: 15px;
   font-size: 13px;
}



.up{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 390px;
   height: 20px;
   margin: auto;
}

.option{
   width: 395px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

.wait{
   width: 80px;
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: auto;
   padding: 5px;
   margin-top: 10px;
}

.wait img {
   width: 30px;
   height: 30px;
}

.wait p{
   font-size: 11px;
   font-weight: 400px;
   line-height: 14px;
}


.akun {
   width: 393px;
   height: 224px;
   margin: auto;
   padding-top: 20px;
}

.akun p {
   padding: 10px;
}

.daftar-alamat {
   display: flex;
   justify-content: space-between;
   width: 393px;
   height: 50px;
   padding: 10px;
}

.rician {
   display: flex;
}

.rician img{
   width: 35px;
   height: 35px;
}

.rician p{
   padding: 8px;
   font-size: 16px;
   font-weight: 400px;
   line-height: 19.2px;
}

.arrow {
   border: none;
   background-color: white;
}

.arrow img {
   width: 30px;
   height: 30px;
}

.akun-pembayaran {
   display: flex;
   justify-content: space-between;
   width: 393px;
   height: 50px;
   padding: 10px;
}

.pengembalian-dana {
   display: flex;
   justify-content: space-between;
   width: 393px;
   height: 50px;
   padding: 10px;
}

.tentang {
   width: 393px;
   height: 224px;
   margin: auto;
   padding-top: 8px;
}

.tentang p {
   padding: 10px;
}

.pusat-bantuan {
   display: flex;
   justify-content: space-between;
   width: 393px;
   height: 50px;
   padding: 10px;
}

.taskbar-bottom {
   width: 393px;
   height: 72px;
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #fff5e8;
 }
 
 
 .beranda > img {
   width: 50px;
   height: 50px;
   align-items: center;
 }
 
 .beranda > p {
   font-size: 11px;
   font-weight: 600px;
   line-height: 13.2px;
   text-align: center;
 }
 
 .kategori > img {
   width: 35px;
   height: 35px;
   align-items: center;
 }
 
 .kategori > p {
   font-size: 11px;
   font-weight: 600px;
   line-height: 13.2px;
   text-align: center;
 }
 
 .Keranjang > img {
   width: 35px;
   height: 35px;
   align-items: center;
 }
 
 .Keranjang > p {
   font-size: 11px;
   font-weight: 600px;
   line-height: 13.2px;
   text-align: center;
 }
 
 .profil > img {
   width: 35px;
   height: 35px;
   align-items: center;
 }
 
 .profil > p {
   font-size: 11px;
   font-weight: 600px;
   line-height: 13.2px;
   text-align: center;
 }