@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary_color: #fff5e8;
    --font: "Playfair Display", serif;
  }
  
  * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family:var(--font) ;
  }

/* Navbar */

nav {
   width: 393px;
   height: 72px;
   display: flex;
}

.arrow {
    border: none;
    background-color: white;
    padding: 5px;
 }
 
 .arrow img {
    width: 30px;
    height: 30px;
 }

 .date {
    width: 393px;
    background-color: #f9f9f9; 
    padding: 10px
 }

 .date p {
    font-size: 13px;
    font-weight: 600px;
    line-height: 15.6px;
 }

 .riwayat-point {
    width: 393px;
    padding: 10px;
 }

 .riwayat-point p {
    font-size: 15px;
    font-weight: 500px;
    line-height: 15.6px;
    padding: 5px;
 }

 .point {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
 }